[submodule "Archive/V1"]
	path = Archive/V1
	url = https://github.com/SamanEN/Operating-System-Lab-Projects
[submodule "Archive/V2"]
	path = Archive/V2
	url = https://github.com/Ipouyall/OS-Lab-Projects.git

[submodule "Archive/V3"]
	path = Archive/V3
	url = https://github.com/alumpish/OS-Lab-Projects.git
