[submodule "Archive/V1"]
	path = Archive/V1
	url = https://github.com/SamanEN/Operating-System-Lab-Projects
[submodule "Archive/V2"]
	path = Archive/V2
	url = https://github.com/Ipouyall/OS-Lab-Projects.git
[submodule "xv6-public"]
	path = xv6-public
	url = https://github.com/mit-pdos/xv6-public.git
